<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- CAT -->
    <add key="CheminAvenantCAT" value="C:\Users\alaghouaouta\Desktop\TEST_INTEGRATION\" />
    <!-- value="\\192.168.1.11\cft\CATITRE\RECV\QUALIF\Avenant\"/> -->
    <add key="CheminArchiveAvenantCAT" value="C:\Users\alaghouaouta\Desktop\TEST_INTEGRATION\Archive\" />
    <!--</add>value="\\192.168.1.11\cft\CATITRE\RECV\QUALIF\Avenant\Archive\"/> -->
    <add key="CheminRejetAvenantCAT" value="C:\Users\alaghouaouta\Desktop\TEST_INTEGRATION\Rejet\" />
    <add key="FormatFichierAvenantCAT" value="GDNO01P_20??????????" />
    <!--value="QGDNO01_20??????????"/> -->
    <!-- A CHANGER SINN LE ZIP SERA PAS SELECTIONNE -->
    <add key="CheminTmpAvenantCAT" value="C:\Users\alaghouaouta\Desktop\TEST_INTEGRATION\CATtemp\" />
    <!-- </add> value="\\192.168.1.11\cft\CATITRE\RECV\QUALIF\Avenant\CATtemp\"/> -->
    <add key="CheminDepotAvenantCAT" value="C:\Users\alaghouaouta\Desktop\TEST_INTEGRATION\CAT\Tests\" />
    <!-- value="\\192.168.1.7\Users\Commun\Documents Contrôle Qualité\Avenants Compagnies\CAT\Tests\"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>