<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tests.Interfaces.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Tests.Interfaces.Properties.Settings>
            <setting name="Tests_Interfaces_indexationged_IndexationGED"
                serializeAs="String">
                <value>http://qualif-extranet.nortia.fr/indexationged/indexationged.asmx</value>
            </setting>
            <setting name="Tests_Interfaces_genererProdLocal_GenerationProd"
                serializeAs="String">
                <value>http://localhost:40757/generationprod.asmx</value>
            </setting>
        </Tests.Interfaces.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GenerationProdSoap" />
                <binding name="GenerationProdSoap1" />
                <binding name="GenerationProdSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:40757/GenerationProd.asmx"
                binding="basicHttpBinding" bindingConfiguration="GenerationProdSoap"
                contract="GenererProd.GenerationProdSoap" name="GenerationProdSoap" />
            <endpoint address="http://localhost:40757/generationprod.asmx"
                binding="basicHttpBinding" bindingConfiguration="GenerationProdSoap1"
                contract="genererProdNewFinal.GenerationProdSoap" name="GenerationProdSoap1" />
            <endpoint address="http://localhost:40757/generationprod.asmx"
                binding="basicHttpBinding" bindingConfiguration="GenerationProdSoap2"
                contract="genererprodLocal.GenerationProdSoap" name="GenerationProdSoap2" />
        </client>
    </system.serviceModel>
</configuration>